#container{
    text-align: center;
    margin-top: 8em;
}
#title{
    color: rgb(214, 71, 119);
    font-size: 3em;
}
#instruction{
    color: rgb(250, 3, 45);
    margin-bottom: 2em;
}
#submitButton{
    background: blue;
    cursor: pointer;
    width: 250px;
    height: 26px;
    display: inline-block;
    color: white;
    margin: 2em;
    display: block;
    margin: 2em auto;
}
#clickableSignUpBox{
    position: relative;
    top: 2em;
}
#clickableLogInPg{
    color: blue;
    cursor: pointer;
    font-weight: 500;
}
.fieldName{
    position: relative;
    margin: 0.3em;   
    font-size: 0.8em;
    color: blue; 
}
.fieldName:nth-child(2){
    left: -6.1em;
}
.fieldName:nth-child(4){
    left: -4em;
}
.fieldName:nth-child(6){
    left: -5.3em;
}
#signUp_msg{
    color: red;
    margin: 3em;
}
#signUp_msg #user_id{
    font-weight: bold;
}